[flake8]

1. Ignore the 'venv' directory completely

This will fix 99% of the errors in your log.

exclude = venv

2. Set the max line length to 100

max-line-length = 100

3. Ignore these specific "noisy" style errors

(E302, W292, etc., from your log)

ignore = E302, W292, E122, E501, W503